Xcursor.theme: Vanilla-DMZ

rofi.color-enabled:                  true
rofi.color-normal:                   #c0ffffff,#525d76,#f5f5f5,#9452E2,#ffffff
rofi.color-urgent:                   #c0ffffff,#dc322f,#f5f5f5,#9452E2,#dc322f
rofi.color-active:                   #c0ffffff,#c2cad0,#f5f5f5,#9452E2,#c2cad0
rofi.color-window:                   #cffffff,#f5f5f5
rofi.separator-style:                solid
